.map-top_bar {
  position: absolute;
  top: 50px; /* adjust this value to change the position of the rectangle */
  left: 0; /* adjust this value to change the position of the rectangle */
  right: 0;
  margin: auto;
  width: 40%; /* adjust the padding to change the width of the rectangle */
  height: 2.5%; /* adjust this value to change the height of the rectangle */
  background-color: #020750e3;
  border-radius: 20px;
  padding: 20px;
  z-index: 1;
  display: flex; /* make the container a flexbox */
  justify-content: space-between; /* position the children to either end of the container */
  align-items: center; /* center the children vertically */
  min-width: 750px; /* add a minimum width to the container */
}

.app-name {
  color: white;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.header-flag {
  width: 30px; /* adjust this value to set the width of the logo */
  height: 30px; /* adjust this value to set the height of the logo */
  margin-left: 21%; /* adjust this value to set the space between the logo and the header title */
  transform: translateY(-2.5%);
}

.map-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 30px;
  height: 30px;
}

.popup-title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-content {
  line-height: 1.5;
}

.popup-content p {
  margin: 0;
}

.mapboxgl-popup-close-button {
  font-size: 20px;
  color: #000;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.mapboxgl-popup-close-button:hover {
  opacity: 1;
}
